@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2>Contact Details</h2>
<p><strong>General Enquiries:</strong> +27 5543 1256 / +27 34 567 8091</p>
<p><strong>Email:</strong> easeVenue@gmail.com</p>
<p><strong>Address Details:</strong> 772 Bodenstein, Boksburg, Gauteng</p>
